<div class="team-thumb">
  <div class="img-block">
    <%= image_tag team.foto.url %>
    
    <div class="active-member"></div>
  </div>

  <div class="team-name">
    <h5><%= team.name %></h5>
  </div>

  <p><%= raw team.remark %></p>
</div>