<div class="wrap-paginatior">
  <div class="inner-space">
    <div class="navigation">
      <ul>
        <li class="prev"><%= link_to '', in_prev %></li>
        <li class="next"><%= link_to '', in_next %></li>
      </ul>
    </div>
  </div>
</div>