<div class="m-box-3">
  <div class="wrap-paginatior">
    <div class="inner-space">
      <div class="navigation">
        <ul>
          <li class="prev"><%= link_to '', @news.prev %></li>
          <li class="back"><%= link_to '', news_path %></li>
          <li class="next"><%= link_to '', @news.next %></li>
        </ul>
      </div>
    </div>
  </div>
</div>