<!doctype html>
<html lang="en" style="height: 100%; overflow: auto;">
<head>
  <meta charset="UTF-8">
  <meta name="discription" content="">
  <meta name="keywords" content="">
  <link rel="SHORTCUT ICON" type="/image/x-icon" href="favicon.ico">
  <title><%= t 'global.title' %></title>
  <link rel="stylesheet" href="/stylesheets/css/style.css">
  <link rel="stylesheet" href="/stylesheets/css/swipebox.css">
  <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
</head>
<body style="height: 100%; overflow: auto;">
  <div class="bg-browser-detect">
    <div class="bd-container">
      <div class="bd-thumb">
        <div class="top-thumb">
          <img src="/img/browser-detect/head-text.png" alt="">
          <p><%= t 'browserdetect.text' %></p>
        </div>
        <div class="bottom-thumb">
          <div class="m-box-4">
            <a class="chrome" href="https://www.google.com/intl/ru/chrome/browser/">
              <img src="/img/browser-detect/chrome.png" alt="">
            </a>
          </div>
          <div class="m-box-4">
            <a class="firefox" href="http://www.mozilla.org/ru/firefox/new/">
              <img src="/img/browser-detect/firefox.png" alt="">
            </a>
          </div>
          <div class="m-box-4">
            <a class="explorer" href="http://windows.microsoft.com/ru-ru/internet-explorer/download-ie">
              <img src="/img/browser-detect/ie.png" alt="">
            </a>
          </div>
          <div class="m-box-4">
            <a class="opera" href="http://www.opera.com/ru">
              <img src="/img/browser-detect/opera.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>